content-center/video-ads/automation/anansi-ads.n8n.json
{
  "name": "Anansi Atlas — Scheduled Ad Builder",
  "meta": {
    "description": "Mirrors the Myths & Midnight n8n pipeline (Schedule -> ElevenLabs -> MP3), extended to render the Remotion ad. Auto-pulls the voice by name; builds any ad whose scheduledDate == today.",
    "notes": "Set env ANANSI_ADS_DIR to the video-ads folder path (mounted into the n8n container). Create an n8n 'Header Auth' credential named 'ElevenLabs API' with header name 'xi-api-key' and your key as the value."
  },
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "days", "triggerAtHour": 6 } ] }
      },
      "id": "sched",
      "name": "Daily 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [ -120, 300 ]
    },
    {
      "parameters": {
        "jsCode": "// Ads and their scheduled dates — keep in sync with ads.config.mjs / the July calendar.\nconst ADS = [\n  { id: 'PlatformShowcase', voice: 'Christopher', audioOut: 'showcase-vo.mp3', scheduledDate: '2026-07-08',\n    text: \"Your next opportunity is already out there. It's just scattered — across funder portals, emails, spreadsheets, and relationships. Anansi Atlas maps the web of opportunity around your mission: funders, partners, government pathways, resources, and readiness. Your Opportunity Web Snapshot shows your strongest asset, your biggest gap, and the single highest-leverage move to make next. Anansi Atlas. Apply for a founding seat at anansi atlas dot com, slash anansi atlas.\" },\n  { id: 'PilotSignup', voice: 'Jackson', audioOut: 'pilot-vo.mp3', scheduledDate: '2026-07-16',\n    text: \"Applications are open for the Founding Atlas Partners Pilot. We're selecting nineteen nonprofit and mission-driven organizations. Each partner receives a guided Opportunity Web Snapshot, a forty-five minute walkthrough, and the living platform. A hundred and fifty dollars a month, locked for life, for the first twenty organizations. Nineteen seats remain. Apply now at anansi atlas dot com, slash anansi atlas.\" }\n];\nconst today = ($env.ADS_DATE_OVERRIDE || new Date().toISOString().slice(0,10));\nconst due = ADS.filter(a => a.scheduledDate === today);\nreturn due.map(a => ({ json: { ...a, today } }));"
      },
      "id": "due",
      "name": "Due ads today",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 120, 300 ]
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/voices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "voices",
      "name": "List ElevenLabs Voices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 360, 300 ],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "ElevenLabs API" } }
    },
    {
      "parameters": {
        "jsCode": "// Resolve the voice id by NAME (auto-pull) and carry the ad forward.\nconst ad = $('Due ads today').item.json;\nconst voices = $json.voices || [];\nconst match = voices.find(v => (v.name || '').trim().toLowerCase() === ad.voice.trim().toLowerCase());\nif (!match) { throw new Error(`Voice \"${ad.voice}\" not found in ElevenLabs account`); }\nreturn [{ json: { id: ad.id, audioOut: ad.audioOut, text: ad.text, voiceId: match.voice_id } }];"
      },
      "id": "resolve",
      "name": "Pick voice id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 600, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voiceId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": { \"stability\": 0.5, \"similarity_boost\": 0.75, \"style\": 0.3, \"use_speaker_boost\": true }\n}",
        "options": { "response": { "response": { "responseFormat": "file", "outputPropertyName": "data" } } }
      },
      "id": "tts",
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 840, 300 ],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "ElevenLabs API" } }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $env.ANANSI_ADS_DIR }}/public/{{ $('Pick voice id').item.json.audioOut }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "savemp3",
      "name": "Save MP3",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [ 1080, 300 ]
    },
    {
      "parameters": {
        "command": "=cd \"$ANANSI_ADS_DIR\" && node scripts/build.mjs {{ $('Pick voice id').item.json.id }}"
      },
      "id": "render",
      "name": "Render MP4 (Remotion)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [ 1320, 300 ]
    }
  ],
  "connections": {
    "Daily 6am": { "main": [ [ { "node": "Due ads today", "type": "main", "index": 0 } ] ] },
    "Due ads today": { "main": [ [ { "node": "List ElevenLabs Voices", "type": "main", "index": 0 } ] ] },
    "List ElevenLabs Voices": { "main": [ [ { "node": "Pick voice id", "type": "main", "index": 0 } ] ] },
    "Pick voice id": { "main": [ [ { "node": "ElevenLabs TTS", "type": "main", "index": 0 } ] ] },
    "ElevenLabs TTS": { "main": [ [ { "node": "Save MP3", "type": "main", "index": 0 } ] ] },
    "Save MP3": { "main": [ [ { "node": "Render MP4 (Remotion)", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
